/* Sticky footer styles
-------------------------------------------------- */
body {
    padding-top: 70px;
    padding-bottom: 70px;
}
h3 {
	font-family:"Stencil";
}

h4{
	font-family:"Iskra";
	font-weight:"bold";
}



/* Custom page CSS
-------------------------------------------------- */
/* Not required for template or sticky footer method. */

#footer > .container {
    padding-left: 15px;
    padding-right: 15px;
}

#footer .active {
    background: #ff8533;
}


#footer .navbar-header {
    float: none;
    width: 100%;
    padding: 10px;
}

#footer .navbar-brand {
    font-size: 20pt;
    float: none;
}

#bottomNav {
    padding: 0px 0px;
}

    #bottomNav .active {
        background: #ff8533;
    }

    #bottomNav div, #bottomNav li {
        padding: 10px 0px;
    }

    #bottomNav a {
        font-size: 10pt;
        color: #ddd;
        text-decoration: none;
    }

        #bottomNav a:hover {
            color: #fff;
        }

#bottomNav2 {
    padding: 0px -20px;
    margin: 0 -20px;
}

    #bottomNav2 .active {
        background: #ff8533;
    }

    #bottomNav2 div{
        width: 65px;
        padding: 10px 2px;
    }

    #bottomNav2 li{
        
        padding: 2px;
    }

    #bottomNav2 a {
        font-size: 10pt;
        color: #ddd;
        text-decoration: none;
    }

        #bottomNav2 a:hover {
            color: #fff;
        }

.hotIcon {
    position: absolute;
    top: -20px;
    right: 0px;
    float: right;
    height: 50px;
}

col-xs-1, col-xs-2, col-xs-3, col-xs-4, col-xs-5, col-xs-6, col-xs-7, col-xs-8, col-xs-9, col-xs-10, col-xs-11, col-xs-12 {
    padding: 0;
}


.thumbnail {
    display: block;
    padding: 4px;
    margin-bottom: 0px;
    line-height: 1.42857143;
    background-color: #fff;
    border: 1px solid #ddd;
    border-radius: 4px;
    -webkit-transition: all .2s ease-in-out;
    transition: all .2s ease-in-out;
}

.panel {
    margin-bottom: 7px;
}

input.holo[type='text'] {
    /* You can set width to whatever you like */
    width: 150px;
    font-family: "Roboto", "Droid Sans", sans-serif;
    font-size: 10px;
    color: #fff;
    margin: 0;
    padding: 8px 8px 6px 8px;
    position: relative;
    display: block;
    outline: none;
    border: none;
    background: #000;
    background: bottom left linear-gradient(#a9a9a9, #a9a9a9) no-repeat, bottom center linear-gradient(#a9a9a9, #a9a9a9) repeat-x, bottom right linear-gradient(#a9a9a9, #a9a9a9) no-repeat;
    background-size: 1px 6px, 1px 1px, 1px 6px;
}

    input.holo[type='text']:hover, input.holo[type='text']:focus {
        background: bottom left linear-gradient(#0099cc, #0099cc) no-repeat, bottom center linear-gradient(#0099cc, #0099cc) repeat-x, bottom right linear-gradient(#0099cc, #0099cc) no-repeat;
        background-size: 1px 6px, 1px 1px, 1px 6px;
    }

.ingredientList ul li {
    padding: 0px;
    margin: 6px;
    height: 108px;
    width: 97px;
    overflow: hidden;
    text-align: center;
}
.ingredientList .frame {
    width: 95px;
    height: 70px;
    overflow: hidden;    
}

.ingredientList img {
    width: 95px;
    height: 70px;
}

.ingredientList span {
    display: inline-block;
    
    width: 97px;
	height:40px;
    white-space: normal;
    overflow: hidden;
}

.carousel-indicators {
    display: none;
}

.promotionList ul li {
    padding: 0px;
    margin: 6px;
    height: 100px;
    width: 97px;
    overflow: hidden;
    text-align: center;
}
.promotionList .frame  img{
    width: 95px;
    height: 70px;   
}
