/* Sticky footer styles
-------------------------------------------------- */
body {
    padding-top: 70px;
    padding-bottom: 70px;
}



/* Custom page CSS
-------------------------------------------------- */
/* Not required for template or sticky footer method. */

#footer > .container {
    padding-left: 15px;
    padding-right: 15px;
}

#footer .active {
    background: #ff8533;
}


#footer .navbar-header {
    float: none;
    width: 100%;
    padding: 10px;
}

#footer .navbar-brand {
    font-size: 20pt;
    float: none;
}

#bottomNav {
    padding: 0px 0px;
}

    #bottomNav div {
        padding: 10px 0px;
    }

    #bottomNav a {
        font-size: 10pt;
        color: #ddd;
        text-decoration: none;
    }

        #bottomNav a:hover {
            color: #fff;
        }


.hotIcon {
    position: absolute;
    top: -20px;
    right: 0px;
    float: right;
    height: 50px;
}

col-xs-1, col-xs-2, col-xs-3, col-xs-4, col-xs-5, col-xs-6, col-xs-7, col-xs-8, col-xs-9, col-xs-10, col-xs-11, col-xs-12 {
    padding: 0;
}


.thumbnail {
  display: block;
  padding: 4px;
  margin-bottom: 0px;
  line-height: 1.42857143;
  background-color: #fff;
  border: 1px solid #ddd;
  border-radius: 4px;
  -webkit-transition: all .2s ease-in-out;
          transition: all .2s ease-in-out;
}

.panel {
    margin-bottom: 7px;
}

input.holo[type='text'] {
    /* You can set width to whatever you like */
    width: 150px;
    font-family: "Roboto", "Droid Sans", sans-serif;
    font-size: 10px;
    color: #fff;
    margin: 0;
    padding: 8px 8px 6px 8px;
    position: relative;
    display: block;
    outline: none;
    border: none;
    background: #000;
    background: bottom left linear-gradient(#a9a9a9, #a9a9a9) no-repeat, bottom center linear-gradient(#a9a9a9, #a9a9a9) repeat-x, bottom right linear-gradient(#a9a9a9, #a9a9a9) no-repeat;
    background-size: 1px 6px, 1px 1px, 1px 6px;
}
input.holo[type='text']:hover, input.holo[type='text']:focus {
    background: bottom left linear-gradient(#0099cc, #0099cc) no-repeat, bottom center linear-gradient(#0099cc, #0099cc) repeat-x, bottom right linear-gradient(#0099cc, #0099cc) no-repeat;
    background-size: 1px 6px, 1px 1px, 1px 6px; 
} 