<div class="container">
    <div class="col-xs-12 col-md-6 col-lg-6">
        <div class="panel panel-default">
            <div class="panel-body">
                <div class="row">
                    <!--<img src="img/{{featuredArticle.img}}" class="img-responsive center-block" alt="{{featuredArticle.id}}">-->
                    <img src="img/{{article.img}}" alt="{{article.name}}" class="center-block" height="128" />
                </div>
                <div class="row col-xs-12 text-left">
                    <h3>{{article.name}}</h3>
                </div>
                <div class="row col-xs-12 text-left">
                    <a href='#/ingredient/{{tag.id}}' ng-repeat="tag in article.tags"><span class="label label-info">{{tag.name}}</span></a>
                </div>
            </div>
        </div>
        <div class="panel panel-default">
            <div class="panel-body">
                <div class="row text-center" style="margin-top: 5px; margin-bottom: 5px;">
                    <div class="col-xs-6 text-left">
                        <b>{{article.author}}</b>
                    </div>
                    <div class="col-xs-6 text-right">
                        <b>{{article.date}}</b>
                    </div>
                </div>
                <div class="row col-xs-12">
                    <p>Heinz Canada is recalling some baby food because of a possible 
                        packaging defect.The Canadian Food Inspection Agency said in
                         a release that the defect may allow the entry
                         of “spoilage micro-organisms.”The products are sold 
                        in pouches with spouts across the country and include:
                         Heinz peas zucchini <a href="#/ingredient/5">beef</a> spinach, sweet baby vegetables; 
                        beef bolognese with vegetables; beef butternut squash rice
                         spinach; tuna sweet corn chowder; and butternut squash apricot
                         peas couscous. The 128-gram packages being recalled have 
                        specifics date stamps on them.
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>
