<div ng-hide="searchKeyWord==''">
    <div class="container ingredientList">
        <ul class="list-inline">
            <li ng-repeat="ingre in ingredients | filter: {name: searchKeyWord}" class="text-center">
                <img src="img/{{ingre.img}}" class="thumbnail" style="height:70px;" ng-click="addIngredient(ingre)" />
                <span>{{ingre.name}}</span>
            </li>
        </ul>
    </div>
</div>

<div ng-show="searchKeyWord==''">
    <!--list categories-->
    <div class="col-xs-12 navbar-inverse navbar-top" style="margin-top:-20px; background: rgba(0,0,0,0.7); position:fixed; z-index:9999">
        <div class="row text-center" id="bottomNav">
            <div class="col-xs-3" ng-repeat="cat in categories" style="padding:10px; margin:0px;" ng-class="{'active':cat.id == selectedCategoryId}">
                <a id="a{{cat.id}}" ng-click="showCategory(cat.id)">{{cat.name}}</a>
            </div>
        </div>
    </div>

    <div class="container ingredientList" >
        <div ng-repeat="cat in categories " ng-show="selectedCategoryId==cat.id" style="margin-top:20px;">
            <ul class="list-inline">
                <li ng-repeat="ingre in showIngredients(cat.id)| orderBy:'name'" class="text-center" style="position:relative;">
                    <div class="frame" >
                       <a href="#/ingredient/{{ingre.id}}"> <img src="img/{{ingre.img}}" class="thumbnail"  /></a>
                    </div>
                    <div style=''><span>{{ingre.name}}</span></div>
                    <img src="img/add.png" style="position:absolute; right:0; top:-3px; width:20px;height:20px;" ng-click="addIngredient(ingre)"/>
                </li>
            </ul>
        </div>
    </div>

    <!--display ingredients of each category-->
    <!-- <div ng-repeat="cat in categories" ng-show="selectedCategoryId==cat.id">
             <div class="row">
                 <div class="col-xs-3" ng-repeat="ingre in showIngredients(cat.id)">
                     <div class="panel panel-default">
                         <div class="panel-heading">
                             {{ingre.name}}
                         </div>
                         <div class="panel-body">
                             <img src="img/{{ingre.img}}" class="thumbnail" ng-click="addIngredient(ingre)" />
                         </div>
                     </div>
                 </div>
             </div>
         </div> -->
    <!--list selected ingredients-->


</div>

<alert ng-repeat="alert in alerts" type="alert.type" close="closeAlert($index)" style="position:absolute; top:50px; width:100%;">{{alert.msg}}</alert>
<div class="well well-small" style="position:fixed; bottom:10px; width:100%; padding:15px; padding-top:5px;">

    <div class="col-xs-9">
        <ul class="list-inline" style="padding:3px; ">
            <li class="active" ng-repeat="ingre in diyIngredients" ng-click="removeIngredient(ingre)" style="position:relative;">
                <div class="label label-info">{{ingre.name}}</div>
                 <img src="img/close.png" style="position:absolute; right:-5px; top:-7px; width:20px;height:20px;" />
            </li>
        </ul>
    </div>
    <div class="col-xs-3 text-right">
        <a ng-click="checkIngredient()" class="btn btn-primary">{{search}}</a>
    </div>
</div>