<div ng-hide="searchKeyWord==''">
    <div class="container ingredientList">
        <ul class="list-inline">
            <li ng-repeat="ingre in ingredients | filter: {name: searchKeyWord}" class="text-center">
                <img src="img/{{ingre.img}}" class="thumbnail" style="height:70px;" ng-click="addIngredient(ingre)" />
                <span>{{ingre.name}}</span>
            </li>
        </ul>
    </div>
</div>

<div class="form-group" style="padding:10px;">
    <h3 style="text-align:center;">Ingredient</h3>
    <input type="text" ng-model="ingredientSearch" class="form-control" style="font-size: 15pt; height:50px;" />
    
    <div class="ingredientList"  ng-show="ingredientSearch != '' ">
        <ul class="list-inline">
            <li ng-repeat="ingre in ingredients | filter: ingredientSearch" class="text-center">
                <a href="#/ingredient/{{ingre.id}}">
                    <img src="img/{{ingre.img}}" class="thumbnail" style="height:70px;" />
                    <span>{{ingre.name}}</span>
                </a>
            </li>
        </ul>
    </div>
</div>

<div ng-hide="ingredientSearch != '' ">
    <div class="container">
        <carousel interval="3000">
            <slide ng-repeat="Ingre in specialIngredients" active="slide.active">
                <div style="height:200px; overflow: hidden; vertical-align:middle;">
                    <a href="#/ingredient/{{Ingre.id}}">
                        <img ng-src="img/{{Ingre.img}}" style="margin:auto; width:100%;">
                    </a>
                </div>
                <div class="carousel-caption" >
                    <span style="background: rgba(0,0,0,0.5); color: white; padding:15px;">{{Ingre.name}}</span>
                </div>
            </slide>
        </carousel>    
    </div>
    
</div>

