<div ng-hide="searchKeyWord==''">
    <div class="container ingredientList">
        <ul class="list-inline">
            <li ng-repeat="ingre in ingredients | filter: searchKeyWord" class="text-center">
                <img src="img/{{ingre.img}}" class="thumbnail" style="height:70px;" ng-click="addIngredient(ingre)" />
                <span>{{ingre.name}}</span>
            </li>
        </ul>
    </div>
</div>

<div class="form-group" style="padding:10px;">
    <h2 style="text-align:center;">Ingredient</h2>
    <input type="text" ng-model="ingredientSearch" class="form-control" style="font-size: 15pt; height:50px;" />
    
    <div class="ingredientList"  ng-show="ingredientSearch != '' ">
        <ul class="list-inline">
            <li ng-repeat="ingre in ingredients | filter: ingredientSearch" class="text-center">
                <a href="#/ingredient/{{ingre.id}}">
                    <img src="img/{{ingre.img}}" class="thumbnail" style="height:70px;" />
                    <span>{{ingre.name}}</span>
                </a>
            </li>
        </ul>
    </div>
</div>

<div ng-hide="ingredientSearch != '' ">
    <div class="ingredientList row">
        <div class="col-xs-12 well" style="margin:20px;">
            <ul class="list-inline">
                <li ng-repeat="ingre in specialIngredients" class="text-center">
                    <a href="#/ingredient/{{ingre.id}}">
                        <img src="img/{{ingre.img}}" class="thumbnail" style="height:70px;" />
                        <span>{{ingre.name}}</span>
                    </a>
                </li>
            </ul>
        </div>
    </div>
</div>

