

<div class="row">
    <div class="col-xs-12 col-md-6 col-md-offset-3 col-lg-4 col-lg-offset-4" style="padding:0 35px;">
        <img src="img/{{recipe.img}}" alt="" style="width:100%; " class="thumbnail" />
        <div style=" position:absolute; top:0; margin:5px;  text-align:center; background:rgba(0,0,0,0.5); color:white;">
            <h3 style="margin:10px 20px;">{{recipe.name}}</h3>
        </div>
        <div style=" position:absolute; bottom:0; margin:5px; text-align:center; background:rgba(0,0,0,0.5); color:white;">
            <h6 style="margin:10px 20px;">Difficult Level: {{recipe.dLvl}}</h6>
        </div>
        <!--<div style=" position:absolute; right:35px; top:0; margin:5px; text-align:center; background:rgba(0,0,0,0.5); color:white;">
            <h6 style="margin:10px 20px;">Difficult Level: {{recipe.dLvl}}</h6>
        </div>-->
    </div>
</div>
<div class="row">
    <div class="col-xs-12">
        <h3 style="margin-left:5px;">Ingredients</h3>
        <table class="table">
            <tr>
                <th>Name</th>
                <th>Qty</th>
            </tr>
            <tr ng-repeat="ingre in recipe.ingredients">
                <td><a href="#/ingredient/{{ingre.id}}">{{ingre.name}}</a></td>
                <td>x {{ingre.quantity}} {{ingre.unit}}</td>
            </tr>
        </table>
    </div>
</div>
<div class="row">
    <div class="col-xs-12">
        <h3 style="margin-left:5px;">Steps</h3>
        <table class="table">
            <tr ng-repeat="step in recipe.steps">
				<td>{{$index+1}}</td>
                <td ><span ng-bind-html="step.description" ></span></td>
                <td><img src="img/{{step.img}}" alt="" /></td>
            </tr>
        </table>
    </div>
	
</div>
<div class="row">
    <div class="col-xs-12" style="height:300px;">
        <!--<h3 style="margin-left:5px;">Video</h3><hr style="margin-top:-10px;">-->
        <!--<a href="{{recipe.url}}" style="margin-left:5px; margin-top:-10px;">{{recipe.url}}</a>-->
        <youtube code="recipe.url"></youtube>
    </div>
    
    
</div>
