<div class="col-xs-12 navbar-inverse navbar-top" style="margin-top:-20px;height:40px; background: rgba(0,0,0,0.7); position:fixed; z-index:9999">
        <div class="row text-center" style="padding:5px;" >
            <div class="col-xs-10"><h4 style="color:#fff;">{{selectedCategory.name}}</h4></div>
            <div class="col-xs-2 dropdown">
              <button class="dropdown-toggle" style="" >
                <span class=" glyphicon glyphicon-align-justify"></span>
              </button>
              <ul class="dropdown-menu pull-right" >
                <li ng-repeat="rCat in recipeCategories">
                  <a ng-click="selectCategory(rCat)">{{rCat.name}}</a>
                </li>
              </ul>
            </div>
        </div>
    </div>
<div class="container" style="padding-top:28px;">
    <div class="col-xs-12 col-md-6 col-lg-6" ng-repeat="rec in categoryRecipes() | orderBy:['isHot','name'] | filter: {name: searchKeyWord}">
        <div class="panel panel-default">
            <div class="panel-body">
                <div class="row">
                    <div class="col-xs-4" style="padding: 0 5px;">
                        <a href="#/recipe/{{rec.id}}" class="thumbnail">
                            <img src="img/{{rec.img}}">
                        </a>
                    </div>
                    <div class="col-xs-8">
                        <div class="row">
                            <div class="col-xs-12">
                                {{rec.name}}
                                <img src="img/hot.png" class="hotIcon" ng-show="rec.isHot">
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-xs-12">
                                <span class="label label-primary">{{rec.dLvl}}</span>
                                <span class="label label-warning" ng-hide="rec.spicy==0">
                                    <img src="img/chili.png" style="height:20px;" ng-repeat="r in range(rec.spicy)" />
                                </span>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">

                </div>
            </div>
        </div>

    </div>



</div>

